##########################
# Choose a PHP version for
# the php-fpm container
##########################
# PHP_VERSION=8.2
PHP_VERSION=8.3
# PHP_VERSION=8.4
# PHP_VERSION=8.5

##################################
# Set the UID and GID for
# the shell login into image "php"
##################################
HOST_UID=1000
HOST_GID=1000

##################################################
# Building will be cached, so for forcing SSL
# cert generation set RENEW_SSL_CERT_ON_BUILD=1.
# For disabling caching on build, which includes
# SSL cert generation, set CACHING=0.
# Reimporting into Keychain Access will be needed.
##################################################
# RENEW_SSL_CERT_ON_BUILD=0
# CACHING=1

###################################
# For tailing build logs instead of
# displaying them live streamed
# set TAIL_BUILD_LOG=1.
# For grepping do redirecting 2>&1
###################################
# TAIL_BUILD_LOG=0
