##################
# Choose a PHP version before
# starting the php-fpm container
##################
# PHP_VERSION=8.2
PHP_VERSION=8.3
# PHP_VERSION=8.4
# PHP_VERSION=8.5

##################
# Set the UID and GID the 
# container is running under
##################
HOST_UID=1000
HOST_GID=1000

##################
# Set to 1 to store renewed ssl certs
# on the host when building the apache
# container. Reimporting into 
# Keychain Access is needed.
##################
RENEW_SSL_CERT_ON_BUILD=0
